# Configuración del Backend (EcoBotellas)
SECRET_KEY=django-insecure-ecobotellas-reciclaje-escolar-2026-key
DEBUG=True

# Configuración de Base de Datos para Producción (MySQL)
# Deja estas variables vacías para usar SQLite de forma predeterminada
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
